// http://www.colourlovers.com/palette/582195/Chocolate_Creams
// https://coolors.co/app/755c3b-fcfbe3-2f2504-1c7c54-19381f
// https://coolors.co/app/755c3b-fcfbe3-2f2504-152614-19381f
//                                                ^ only this one changed
// https://coolors.co/app/755c3b-fcfbe3-808782-a6d3a0-d1ffd7 < greens & greys
// https://coolors.co/app/755c3b-fcfbe3-fbfef9-0c6291-000004 < blue, black & paper white

// Shades
$color__black    : #152614; // Deep Green // rgb(21,38,20)
$color__white    : #FBFEF9; // Paper White // rgb(251,254,249)
$color__grey     : #808782; // Wet Cement // rgb(128,135,130)
$color__cream    : #FCFBE3; // Cream // rgb(252,251,227)
// Browns
$color__brown    : #755C3B; // Milk Chocolate // rgb(117,92,59)
$color__darkbrown: #2F2504; // Dark Chocolate // rgb(47,37,4)
// Greens
$color__pine     : #19381F; // Deep Pine Forest // rgb(25,56,31)
$color__plant    : #1C7C54; // Photosynthesis // rgb(28,124,84)
$color__heidi    : #A6D3A0; // Heidi Green // rgb(166,211,160)
// Blues
$color__blue     : #0C6291; // Great on cream // rgb(12,98,145)
// Reds
$color__blood    : #791205; // Blood // rgba(121,18,5,1)
$color__red      : #EB5160; // Sundown



// $color__vest     : #fd624b;
// $color__shirt    : #32596d;

// .vest {
//   color: $color__vest !important;
// }
// .shirt {
//   color: $color__shirt !important;
// }

$color__overlay2 : rgba(117,92,59,0.8); // Brown
$color__overlay2 : rgba(47,37,4,0.9); // Dark Brown
$color__overlay2 : rgba(12,98,145,0.9); // Blue         I like the blue!
$color__overlay2 : rgba(21,38,20,0.7); // Deep
$color__overlay1 : rgba(25,56,31,0.8); // Pine


$color__text-main: $color__black;
$color__text-screen: #2660A4;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__blue;
$color__link-visited: $color__link;
$color__link-hover: $color__text-main;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__background-body: $color__cream;
$color__background-screen: $color__cream;
$color__background-hr: $color__text-main;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;



