// http://www.colourlovers.com/palette/582195/Chocolate_Creams
// https://coolors.co/app/755c3b-fcfbe3-2f2504-1c7c54-19381f
// https://coolors.co/app/755c3b-fcfbe3-2f2504-152614-19381f
//                                                ^ only this one changed

// Shades
$color__black    : #152614; // Deep Green
$color__white    : #FCFBE3; // Cream
// Browns
$color__brown    : #2F2504;
$color__cocoa    : #755C3B;
// Greens
$color__pine     : #19381F;
$color__plant    : #1C7C54;
// Blues
$color__blue    : #1C7C54;


$color__text-main: $color__black;
$color__text-screen: #2660A4;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__blue;
$color__link-visited: $color__link;
$color__link-hover: $color__text-main;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__background-body: $color__white;
$color__background-screen: $color__white;
$color__background-hr: $color__text-main;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;


