// Relocate these styles when finished

.flexbox {
  display: flex;
}
.row {
  flex-direction: row;
  margin: 0 auto;
  @include max-width(64);
}
.column {
  flex-direction: column;
}
.col-row {
  flex-direction: column;
  @include media(tablet, general) {
    flex-direction: row;
    margin: 0 auto;
    @include max-width(64);
  }
}
.flex-bar {
  @include media(mobile, general) {
    @include min-height(4);    
  }
}



// Header Styles
.site-content {
  background: rgba(255,255,255,0.7);
}
.site-header {
  background-image: url('img/ready.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -50px;
  min-height: 500px;
  min-height: 88vh;
  a {
    color: $color__text-main;
    &:hover, &:active, &:focus {
      color: $color__cream;
    }
  }
  .site-branding {               // flexbox column
    background: rgba(255,255,255,0.7);
    background: rgba(166,211,160, 0.7);
    height: 100%;
    min-height: 88vh;

  }
  .site-contact-bar {              // flex item
    @include media(tablet, general) {
      @include padding(.5);
    }
  }
  .site-navigation-bar {           // flex item
  }
  .site-navigation-items {           // flex item
    @include media(tablet, general) {
      @include padding-top(.5);
      @include padding-sides(.5);
    }
  }
  .site-hero-bar {                 // flex item
    flex-grow: 1;
    @include media(mobile, general) {
    }
    @include media(tablet, general) {
      @include padding-sides(.5);
    }
  }
  .site-promo-bar {                // flex item
    background: $color__brown;
    background: rgba(117,92,59,0.5);
    order: -1;
  }

  .contact-bar-inner,
  .navigation-bar-inner {           // flexboxes
    justify-content: space-between;
    @include media(tablet, general) {
      justify-content: flex-end;
    }
    .site-title {
      @include media(tablet, general) {
        flex-grow: 1;
      }
      #site-title {
        margin: 0;
        @include media(mobile, general) {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .site-email,
    .site-phone {
      @include media(tablet, general) {
        @include padding-left(1);
      }
      .contact-point::before {
        display: inline-block;
        font-family: "Fontawesome";
        @include padding-right(0.5);
      }
    }
    .site-email .contact-point::before {
      content: '\f199';
    }
    .site-phone .contact-point::before {
      content: '\f098';      
    }

    .nav-control {
      @include width(4);
      @include height(4);
      @include media(tablet, general) {
        width: auto;
        height: auto;
      }
      a, i {
        display: block;
      }
      a, button {
        width: 100%;
        height: 100%;
        background: transparent;
        @include media(tablet, general) {
          width: auto;
        }
      }
      i {
        @include font-size(2);
      }
      button {
        margin: 0;
        border: 0;
        padding: 0;
        // background: transparent;
        border-radius: 0;
        text-align: center;
        &, &:hover, &:active, &:focus {
          box-shadow: none;
        }
      }
    }
  }

  .navigation-bar-inner {
    .site-connect {
      order: 3;
    }
    .site-menu {
      order: 1;
    }
    .site-search {
      order: 2;
    }
  }

  .contact-bar-inner {
    @include height(4);
    height: auto;
    .contact-point {
      display: block;
      text-indent: -9999em;
      width: 0;
      height: 0;
      @include media(tablet, general) {
        text-indent: 0;
        width: auto;
        height: auto;
      }
    }
  }

  .navigation-items-inner {        // flexbox
    flex-wrap: wrap;
    .navigation-item {

    }
    .nav-menu {
      order: 3;
      @include media(tablet, general) {
        order: 2;
      }
      li {
        display: block;
        // @include padding(1);
        @include media(tablet, general) {
          padding: 0;
          display: inline-block;
          @include margin-right(1);
        }
        a {
          display: inline-block;
          @include padding(1);
          @include media(mobile, general) {
            min-width: 50%;
          }
          @include media(tablet, general) {
            display: inline;
            padding: 0;
          }
        }
      }
    }
    .nav-search {
      order: 2;
      @include media(tablet, general) {
        order: 3;
        width: 100%;
      }
      #search-input {
        width: 100%;
        box-sizing: inherit;
        border-radius: 0;
        -webkit-appearance: none;
        @include padding(1);
      }
      .search-form-wrapper {
        position: absolute;
        left: -9999em;
      }
      &.toggled {
        .search-form-wrapper {
          position: static;
          left: 0;
        }

      }
    }
    .nav-social {
      order: 1;
      @include media(tablet, general) {
        order: 1;
        flex-grow: 1;
      }
      #site-social-items,
      #menu-social-items {
        @include media(mobile, general) {
          display: flex;
          justify-content: space-between;
        }
      }
      li {
        a {
          @include media(mobile, general) {
            display: block;
            text-align: center;
            @include width(4);
            @include height(4);
            @include padding-top(.5);
            @include font-size(2);
          }
        }
      }
      #site-social {
        #site-social-items {
          position: absolute;
          left: -9999em;
        }
        &.toggled {
          #site-social-items {
            position: static;
            left: 0;
          }
        }
      }
    }
    .primary-menu-wrapper {
      @include media(tablet, general) {
        display: inline-block;
      }
    }
    .search-form-wrapper {
      @include margin-ends(.375);
      @include media(tablet, general) {
        @include margin-ends(.375); // 6px to account for 2px border-bottom of .menu items
      }
    }
  }
  .hero-bar-inner {              // flexbox
    margin: 0 auto;
    user-select: none;
    @include max-width(64);
    .site-more {
      text-align: center;
    }
  }
  .promo-bar-inner {             // flexbox
    @include min-height(4);
  }

}