
/* Small menu. */
.menu-toggle {
	display: inline-block;
	@include media(tablet, general) {
		display: none;
	}
}

/* Search Toggle */
.search-toggle {
	display: none;
	border-bottom: 2px solid transparent;
	@include media(tablet, general) {
		display: inline-block;
	}
	&:hover {
		@include media(tablet, general) {
			border-bottom: 2px solid $color__cream;
		}
	}
}
#full-site-search {
	user-select: none;
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* All Menus */
.menu {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
}

/* Main Navigation Hovers*/
#primary-menu,
#site-social-items {
	@include media(mobile, general) {
		li {
			margin-right: 0;
		}
	}
	@include media(tablet, general) {
		li {
			border-bottom: 2px solid transparent;
			@include margin-right(1);
		}

	}
	li {
		&, & a, & a::before {
			transition: all $trans__default;
		}
		&:hover, &:active, &:focus {
			@include media(mobile, general) {
				transition: background $trans__default;
				background: $color__cream;
				a, a::before {
					transition: color $trans__default;
					color: $color__black;
				}
			}
			@include media(tablet, general) {
				border-bottom: 2px solid $color__cream;
			}
		}
	}
}
/* Main Navigation */
#site-connect.toggled,
#site-search.toggled,
#site-menu.toggled {
	background: $color__cream;
	&, a, i, span {
		color: $color__black;
	}
}
#full-site-search.toggled {
	border-bottom: 2px solid $color__cream;
}
#nav-search {
	display: none;
}
#primary-menu-wrapper,
#site-social {
	@include media(mobile, general) {
		display: none;
	}
}
#primary-menu-wrapper {
	li > ul {
		position: relative;
		margin-left: 0;
		padding-left: 0;
		li:hover {
			background: $color__cream;
		}
		li a {
			@include padding-left(2);
		}
		@include media(tablet, general) {
			position: absolute;
			left: -999em;
			z-index: 99999;
		}
	}
	li:hover > ul {
		@include media(tablet, general) {
			left: 0;
		}
	}
	li.current-menu-item {
		@include media(mobile, general) {
			background: $color__cream;
			a {
				color: $color__text-main;
			}
		}
		@include media(tablet, general) {
			border-bottom: 2px solid $color__cream;
		}
	}
}



/* Social menus. */
.social-menu {
	ul {
		list-style: none;
		li {
			display: inline-block;
			@include margin-right(1);
		}
	}
  a::before {
    // display: inline-block;
    vertical-align: top;
    font-family: 'Fontawesome';
    color: $color__link;
    -webkit-font-smoothing: antialiased;
    content: '\f0c0';
  }

	a[href*="facebook.com"]::before { content: '\f09a'; }
	a[href*="twitter.com"]::before { content: '\f099'; }
	a[href*="dribbble.com"]::before { content: '\f17d'; }
	a[href*="codepen.io"]::before { content: '\f1cb'; }
	a[href*="plus.google.com"]::before { content: '\f0d5'; }
	a[href*="pinterest.com"]::before { content: '\f0d2'; }
	a[href*="github.com"]::before { content: '\f09b'; }
	a[href*="tumblr.com"]::before { content: '\f173'; }
	a[href*="youtube.com"]::before { content: '\f167'; }
	a[href*="flickr.com"]::before { content: '\f16e'; }
	a[href*="vimeo.com"]::before { content: '\f194'; }
	a[href*="instagram.com"]::before { content: '\f16d'; }
	a[href*="linkedin.com"]::before { content: '\f0e1'; }
  a[href*="feedburner.com"]::before { content: '\f09e'; }
	a[href*="onnit.com"]::before { content: '\f240'; }
	a[href*="fortawesome"]::before { content: '\f259'; } // Not a typo
}